<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JohnSands.QuickBase.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JohnSands.QuickBase.Sample.Properties.Settings>
            <setting name="QuickBaseUrl" serializeAs="String">
                <value>https://amgreetings.quickbase.com/db/</value>
            </setting>
            <setting name="QuickBaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickBasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickBaseDBID" serializeAs="String">
                <value>begy9tmr3</value>
            </setting>
            <setting name="QuickBaseQueryNumber" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DebuggingLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DebuggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SampleFormSize" serializeAs="String">
                <value>750, 600</value>
            </setting>
            <setting name="SampleFormLocation" serializeAs="String">
                <value>150, 150</value>
            </setting>
        </JohnSands.QuickBase.Sample.Properties.Settings>
    </userSettings>
</configuration>